<div class="forgot-password-component">
  <mat-card class="forgot-password-form-card">
    <mat-card-header
      class="justify-content-between align-items-center mat-card-image forgot-password-card-header"
    >
      <mat-card-title class="mat-card-title">
        <p>Forgot Password</p>
        <p class="mat-body-2">
          Enter your email address to reset your password.
        </p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Forgot Your Password? Don't worry send us your registered email address
        and we will send yousteps to reset your password.
      </p>
      <form
        [formGroup]="forgotForm"
        (ngSubmit)="forgotForm.valid && validateEmail()"
      >
        <!-- email for field -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            microfrontendRccInputRef
          />
          <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="forgotForm.get('email')?.hasError('pattern')">
            Email is not valid
          </mat-error>
        </mat-form-field>
        <div class="btn_groups">
          <button mat-raised-button type="submit" color="primary">Send</button>
          <button
            type="button"
            mat-button
            class="forgor_password"
            color="primary"
            (click)="backToLogin()"
          >
            Back to Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
