.forgot-password-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 118px);
  overflow: auto;

  .forgot-password-form-card {
    width: 500px;
  }

  mat-form-field {
    display: block;
    width: 100%;
  }

  .forgot-password-card-header {
    padding: 1rem;
    background-color: #556ee6;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  .btn_groups {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
  }
}
